doctype html 
html
  head
    title Ice Age
    block scripts
    block style
  body
    block content
    footer#footer 
                div.name
                   img(src="/static/logo.png", alt="")
                   h4 Ice Age
                div.about    
                   p The company was extablished in 1969 and serving the best ice creams since then Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, tempore. Odio, aliquid deserunt sunt iure quasi omnis voluptate, totam alias voluptatum, exercitationem earum voluptatibus in. Perspiciatis suscipit voluptate magni earum?
                   p You can find all the diffrent flavours over here that you might not find any where else in the town               